:root {
  // Fonts
  --font-family-main: 'Manrope', sans-serif;

  // Font weights
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;

  // Colors
  --white: #fff;
  --black: #000;

  // System colors
  --dark: #111111;
  --icon: #a0a0a0;

  // Main colors
  --lighter-gray: #4a494f;
  --light-gray: #393939;
  --gray: #292a2c;
  --darker-gray: #242526;
  --blue: #667eea;

  // Content colors

  // Additional colors
  --pink: #8f5ac6;
  --green: #65c466;
  --red: #fe7474;
  --disabled: #313131;
}
